# Environment variables
NEXT_PUBLIC_APP_NAME=Queue Watcher

# Queue Configuration
QUEUE_URL=https://flavortown.hackclub.com/queue
TARGET_ORDER_IDS=9226,9241,9243
CHECK_INTERVAL_MINUTES=1

# Telegram Configuration (optional)
BOT_TOKEN=
CHAT_ID=

# Vercel KV (automatically set by Vercel)
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Cron Security
CRON_SECRET=
